.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;

}
.outer-ball {
	border: 5px dotted black;
	height: 500px;
	width: 500px;
	border-radius: 500px;
	background-color: black;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;

	
}

.screen {
	background-color: white;
	border: 1px solid green;
	border-radius: 100px;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	text-align: center;
	padding: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	

}

.screenText{

}

.styledButton{
border: 1px solid black;
}

.styledInput{
}

.inputLength{
	width: 200px;
	margin: 0 auto;
	padding:0;
}

